<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="updatepass/:pin" method="post">
        <label for="password">Enter Password</label>
        <input type="password" name="password" id="pass">
        <label for="password">Reneter Password</label>
        <input type="password" name="repass" id="repass">
        <input type="submit"  value="submit">
    </form>
</body>
</html>