<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.all.min.js "></script>
  <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.min.css " rel="stylesheet">

    <style>
    *{
        max-width: 1500px;
        margin: 0 auto;
    }
    label{
        margin-top: 13px;
    }
    
 
    </style>
</head>
<body>
    <!-- <H1 style="text-align: center; height: 30px;">Registration</H1>

    <div class="flex">
        <div class="img">
            <img src="/assets/registration.jpeg" alt="Girl in a jacket" width="500" height="600"> 
        </div>
        <div class="form">
    <form action="addUser" method="post">
        <label for="fname">First name</label><br>
        <input  required type="text" name="fname" id="fname" required><br><br>
        <label for="lname">Last name</label><br>
        <input  required type="text" " required><br><br>
        <label for="fname">Email</label><br>
        <input  required type="text" name="email" id="email" required><br><br>
        <label for="dob">Date of Birth</label><br>
        <input  required type="date" name="dob" id="dob" required><br><br>
        <label for="mobile">Contact No</label><br>
        <input  required type="text"  required><br><br>
        <label for="age">Age</label><br>
        <input  required type="number" name="age" id="age" required><br><br>
        <label for="password">Password</label><br>
        <input  required type="password"  required><br><br>
        <input  required type="submit" value="Register">
    </form>
    <br><a href="/login"><button>Login Here</button></a>
</div>
</div> -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register Pharamcy Store Owner</p>
  
                  <form class="mx-1 mx-md-4" id="registerform"  >
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">First Name:-</label>
                        <input  required type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c">Last Name:-</label>

                          <input  required type="text" name="lname" id="lname" placeholder="Enter your Last Name" class="form-control"  placeholder="last name"/>
                        </div>
                      </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Email</label>

                        <input  required type="email" name="email" id="email" placeholder="Enter your email" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c">Date of Birth</label>

                          <input  required type="date" name="dob" id="dob" placeholder="Enter your Date of Birth"  class="form-control" />
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c">Contact No</label>
                          <input  required type="text" name="mobile" id="mobile" placeholder="Enter you Contact No" class="form-control" />
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c">Pharmacy Licence No:</label>
                          <input  required type="text" name="licenceno" id="licenceno" placeholder="Enter you Pharmacy Licence NO" class="form-control" />
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Age</label>
                          <input  required type="number" name="age" id="age" placeholder="Enter you Age" class="form-control" />
                        </div>
                      </div>

                      
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Password:-</label>

                        <input  required type="password" name="password" id="password" placeholder="Enter the Password" class="form-control" />
                      </div>
                    </div>
  

  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button style="margin-top: 15px; " id="register" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img  style="max-width: 100%; margin-top: 20%; min-height: 450px;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <a href="/login" style="color: white; margin-left: 208px;
           margin-bottom: 15px; margin-top: -25px;" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Login</a>
        <!-- <button style="" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"><a style="text-decoration: none; color: white;" href="/login">Login Here</a></button> -->
      </div>
  </section>
</body>
<script>
  if (document.querySelector("#register")) {
    const login = document.querySelector('#register');
    login.addEventListener('click', async () => {

      const form = document.querySelector('#registerform');
      let formData = new FormData(form);
      let userData = new URLSearchParams(formData);

      try {
        const response = await fetch('/addUser', {
          method: 'POST',
          body: userData,
          headers: {
            'Content-Type': "application/x-www-form-urlencoded",
          }
        });
        const resData = await response.json();
        if (response.status === 200) {
          // console.log(a);
          console.log(resData);
          window.location.replace(resData.url);
        } else {
          await Swal.fire({
            icon: "warning",
            title: "email already exits",
          });
        }
      } catch (error) {
        alert(error);
        console.log(alert(error1));
      }

    })
  }
</script>
</html>