<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify User</title>

    <!-- bootstrap 5 stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
        integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontawesome 6 stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

     
        <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.all.min.js "></script>
      <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.min.css " rel="stylesheet">
    <style>
        body {
            background-color: #ebecf0;
        }

        .otp-letter-input {
            max-width: 100%;
            height: 90px;
            border: 1px solid #198754;
            border-radius: 10px;
            color: #198754;
            font-size: 60px;
            text-align: center;
            font-weight: bold;
        }

        .btn {
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5 mt-5">
                <div class="bg-white p-5 rounded-3 shadow-sm border">
                    <div>
                        <p class="text-center text-success" style="font-size: 5.5rem;"><i
                                class="fa-solid fa-envelope-circle-check"></i></p>
                        <p class="text-center text-center h5 ">Please check your email</p>
                        <p class="text-muted text-center" id="email1"></p>
                        <form  id="otpform" >
                            <input type="hidden" name="email" id="email">
                            <div class="row pt-4 pb-2">
                                <div class="col-3">
                                    <input type="text" class="otp-letter-input" name="otp1" type="text">
                                </div>
                                <div class="col-3">
                                    <input type="text" class="otp-letter-input" name="otp2" type="text">
                                </div>
                                <div class="col-3">
                                    <input type="text" class="otp-letter-input" name="otp3" type="text">
                                </div>
                                <div class="col-3">
                                    <input type="text" class="otp-letter-input"  name="otp4"type="text">
                                </div>
                            </div>



                            <div class="row pt-5">
                                <div class="col-6">
                                    <a href="/" class="btn btn-outline-secondary w-100"> Cancel</a>
                                    <!-- <button type="button" class="btn btn-outline-secondary w-100">Cancel</button> -->
                                </div>
                                <div class="col-6">
                                   <button type="button" id="submit"
                                            class="btn btn-success w-100">Verify</button></a>
                                </div>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const a = document.getElementById('email1');
    const b = document.getElementById('email');
  console.log('aaaaa');
    const urlParams = new URLSearchParams(window.location.search);
    const user = urlParams.get('email');
    console.log(user);
   a.innerHTML=`We sent the code to ${user}`;
   console.log('user',user);
   b.value=user;


   if (document.querySelector("#submit")) {
    const login = document.querySelector('#submit');
    login.addEventListener('click', async () => {

      const form = document.querySelector('#otpform');
      let formData = new FormData(form);
      let userData = new URLSearchParams(formData);

      try {
        const response = await fetch('/verifyotp', {
          method: 'POST',
          body: userData,
          headers: {
            'Content-Type': "application/x-www-form-urlencoded",
          }
        });
        const resData = await response.json();
        if (response.status === 200) {
          window.location.replace("/login");
        } else {
          await Swal.fire({
            icon: "warning",
            title: "invalid OTP",
          });
        }
      } catch (error) {
        alert(error);
        console.log(alert(error1));
      }

    })
  }

</script>

</html>